<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TechSolutionsCenter - Acceso</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link rel="stylesheet" href="./css/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl-carousel/css/owl.theme.default.min.css">
    <link href="./css/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <script src="~/js/Transicion.js"></script>
</head>

<body class="bg-light-gray" id="body">
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div id="main-wrapper">
        @RenderBody()
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./js/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>
    <script src="~/js/Transicion.js"></script>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./js/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="./js/raphael.min.js"></script>


    <script src="./js/circle-progress.min.js"></script>
    <script src="./js/Chart.bundle.min.js"></script>

    <script src="./js/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="./js/jquery.flot.js"></script>
    <script src="./js/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="./js/owl.carousel.min.js"></script>
</body>

</html>