<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TechSolutions Center</title>
    <link rel="icon" type="image/png" sizes="16x16" href="./images/logo.png">
    <link rel="stylesheet" href="./css/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl-carousel/css/owl.theme.default.min.css">
    <link href="./css/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="./images/logo.png" alt="">
                <img class="logo-compact" src="./images/logo-text.png" alt="">
                <img class="brand-title" src="./images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <!-- Barra de búsqueda eliminada -->
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Perfil</span>
                                    </a>
                                    <a asp-area="" asp-controller="Login" asp-action="IniciarSesion" class="dropdown-item">
                                        <i class="fas fa-door-open"></i>
                                        <span class="ml-2">Iniciar Sesion</span>
                                    </a>
                                    <a asp-area="" asp-controller="Login" asp-action="RegistrarCuenta" class="dropdown-item">
                                        <i class="icon-keys"></i>
                                        <span class="ml-2">Registrate</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="mt-4">
                        <a href="agendar-cita.html" aria-expanded="false">
                            <i class="icon icon-calendar"></i><span class="nav-text">Agendar Cita</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="historial.html" aria-expanded="false">
                            <i class="icon icon-list"></i><span class="nav-text">Historial</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-box"></i><span class="nav-text">Inventario</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="ver-inventario.html">Ver Inventario</a></li>
                            <li><a href="editar-inventario.html">Editar Inventario</a></li>
                        </ul>
                    </li>
                    <li class="mt-4">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-folder"></i><span class="nav-text">Casos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="casos-entrantes.html">Casos Entrantes</a></li>
                            <li><a href="generar-caso.html">Generar Caso</a></li>
                            <li><a href="caso-en-ejecucion.html">Caso en Ejecución</a></li>
                            <li><a href="casos-actuales.html">Casos Actuales</a></li>
                        </ul>
                    </li>

                    <li class="mt-4">
                        <a href="empleados.html" aria-expanded="false">
                            <i class="icon icon-users"></i><span class="nav-text">Empleados</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="empleados.html" aria-expanded="false">
                            <i class="icon icon-users"></i><span class="nav-text">Nosotros</span>
                        </a>
                    </li>
                    <li class="mt-4">
                        <a href="empleados.html" aria-expanded="false">
                            <i class="icon icon-users"></i><span class="nav-text">Contactenos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>





        <!--**********************************
            Sidebar end
        ***********************************-->
       
            @RenderBody()
        
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Proyecto Final - <a href="#" target="_blank">TechSolutionsCenter</a> 2025</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        
        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./js/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="./js/raphael.min.js"></script>


    <script src="./js/circle-progress.min.js"></script>
    <script src="./js/Chart.bundle.min.js"></script>

    <script src="./js/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="./js/jquery.flot.js"></script>
    <script src="./js/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="./js/owl.carousel.min.js"></script>

</body>

</html>